a[data-tool-tip] {
    position: relative;
}

a[data-tool-tip]::after {
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    z-index: 99;
    padding: 1em 0.5em;
    font-size: .8em;
    color: gray;
    border-radius: 5px;
    top: 50%;
    left: 0%;
    border: 1px solid rgb(209, 209, 209);
    transform: scale(0);
    transition:
        transform ease-out 150ms,
        bottom ease-out 150ms;
}

a[data-tool-tip]:hover::after {
    transform: scale(1);
    top: 100%;
    left: 0%;
}

.nav-link.active {
    background-color: rgb(220, 231, 235);
    border-radius: 10px;
    color: blue;
}

.container {
    display: flex;
    justify-content: center;
}

.alert {
    position: absolute;
    width: 50%;
    top: 50px;
    margin-top: 15px;
    z-index: 99;
    background-color: rgba(255, 215, 215, 0.6);
    backdrop-filter: blur(8px);
}

.disabled {
    pointer-events: none 
}

.alldata-name {
    font-weight: 500;
    text-transform: Uppercase;
    color: blue;
}

.allData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-alldata {
    margin: 10px;
}

